
$backgroundColor: #24212c;
$mainText: white;
$infoText: #b1b1b1;
$coloredText: #a898c5;
$coloredTextBright: #8069e6;
$buttonColorA: #8978a8;
$buttonColorB: #6957bb;

body {
    background-color: $backgroundColor;
    color: $mainText;
}
.main-text {
    color: $mainText;
}
.info-text {
    color: $infoText;
}
.colored-text {
    color: $coloredText;
}
.colored-text-bright {
    color: $coloredTextBright;
}
a:hover {
    color: $mainText;
}

.boxed-intro {
    border-style: solid;
    border-radius: 0px 25px 25px 0px;
    border-color: $buttonColorB;
}
.boxed-title {
    background-color: #1a161d;
    color: $mainText;
    text-align: center;
}
.boxed-text {
    background-color: #1a161d;
    color: $mainText;
    border-radius: 25px;
}
.bordered {
    border-style: solid;
    border-radius: 25px 0px 25px 0px;
    border-color: $buttonColorB;
}
.centered-box {
  height: 75%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.games-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  margin: 0 auto;
    position: relative;
    .bordered {
        border-radius: 25px;
    }
    .game-item {
        width: 75%;
    }
    img {
        height: auto;
        width: 75%;
    }
}

.games-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px clamp(20px, 3vw, 50px);
}

.g-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px clamp(20px, 3vw, 50px);
    justify-items: center;
}
.g-item {
    width: 75%;
    position: relative;
    background-color: #1c1a24;
    border-radius: 15px;
    overflow: hidden;
    a {
        color: white;
    }
    a:link, a:visited:link {
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
    a:hover {
        color: $coloredTextBright;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.g-item-content {
    padding: 10px;
}

.g-url {
    display: flex;
    flex-direction: column;
}

ul.fafied {
  list-style-type: none;
}

// SCSS Bootstrap Overrides
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #ffffff44 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: $buttonColorB;
}
.nav-link {
    color: $coloredTextBright;
    &:focus {
        color: white;
    }
    &:hover {
        color: white;
    }
}


// Desktops
@media (min-width: 1440px) {
    
}

// Tablet
@media (min-width: 1024px) {
    
}

// Phones
@media (min-width: 600px) {
    .games-container {
        flex-direction: row;
    }
}